.layout-rightpanel {
    position: fixed;
    z-index: 1000;
    right: 0;
    top:56px;
    height: calc(100% - 56px);
    padding: 0;
    width: 294px;
    overflow: auto;
    background-color: lighten($contentBgColor, 3%);
    transform: translate3d(294px, 0px, 0px);
    @include transition(transform $transitionDuration);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);

    .rightpanel-wrapper {
        height: 100%;
        padding: 12px 10px;
        padding-right: 0;
    }
}

.layout-wrapper {
    &.layout-rightpanel-active {
        .layout-rightpanel {
            transform: translate3d(0px, 0px, 0px);
        }
    }
}

@media(max-width:992px) {
    .layout-rightpanel {
        top:104px;
        width: 254px;
        transform: translate3d(254px, 0px, 0px);
        height: calc(100% - 104px);
    }
}