.layout-rightpanel {
    .rightpanel-wrapper {
        .section-tasks {
            h5 {
                margin:30px 20px 10px;
                color: $textColor;
                opacity: .8;
            }

            > ul {
                padding: 30px 0px;
                margin: 0;
                list-style-type: none;

                > li {
                    @include flex();
                    padding: 8px 24px;
                    margin: 0 0 4px;

                    .ui-selectbooleancheckbox {
                        width: 32px;
                        height: 32px;
                        .ui-chkbox-box  {
                            width: 32px;
                            height: 32px;
                            @include border-radius(50%);

                            &.ui-state-active {
                                color: $textColor;
                                background-color: transparent;
                                border-color: transparent;

                                &.ui-state-hover {
                                    border-color: #D9DEE6;
                                }
                            }
                          
                        }
                    }

                    .task {
                        margin-left: 12px;

                        h6 {
                            margin: 0;
                            color: $textColor;
                        }

                        span {
                            display: block;
                            font-size: 12px;
                            color: $textColor;
                            opacity: 0.5;
                        }

                        &.done {
                            h6 {
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }

        hr {
            border: none;
            background-image: linear-gradient(to right, $dividerColor, $contentBgColor 100%);
            height: 1px;
            margin: 0;
            margin-left: 20px;
        }
    }
}